<div id="<%= dom_id employ %>">
  <p>
    <strong>First name:</strong>
    <%= employ.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= employ.middle_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= employ.last_name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= employ.phone_number %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= employ.gender %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= employ.address %>
  </p>

  <p>
    <strong>Refno:</strong>
    <%= employ.refno %>
  </p>

</div>
