<div id="<%= dom_id employee_detail %>">
  <p>
    <strong>Employ:</strong>
    <%= employee_detail.employ_id %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= employee_detail.department %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= employee_detail.branch %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= employee_detail.designation %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= employee_detail.salary %>
  </p>

</div>
